@tailwind utilities;
/* @tailwind base;
@tailwind components; */


.review-enter {
    opacity: 0;
    transform: translateX(var(--enter-transform));
}

.review-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 800ms ease-out, transform 800ms ease-out;
}

.review-exit {
    display: none !important;
    opacity: 1;
    transform: translateX(0);
}

.review-exit-active {
    display: none !important;
    opacity: 0;
    transform: translateX(var(--exit-transform));
    transition: opacity 800ms ease-in, transform 800ms ease-in;
}

.reviews-btn:disabled{
    opacity: 0.75;
}