@tailwind utilities;

body{
    @apply bg-slate-950
}
.review-enter {
    opacity: 0;
    transform: translateX(50%);
}

.review-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 800ms ease-out, transform 800ms ease-out;
}

.review-exit {
    display: none !important;
    opacity: 1;
    transform: translateX(0);
}

.review-exit-active {
    display: none !important;
    opacity: 0;
    transform: translateX(-50%);
    transition: opacity 800ms ease-in, transform 800ms ease-in;
}
